﻿
@{
    ViewData["Title"] = "Phương thức thanh toán";
    ViewData["TitleActive"] = "Phương thức thanh toán";
    ViewData["TitleCurrent"] = "Phương thức thanh toán";
     ViewBag.Current = "TenderTypeSetup";
    ViewData["Menu1"] = "active open";
}
@model WebPOS.Dto.TenderTypeSetup
<div class="page-header">
    <h1>
        Chỉnh sửa phương thức thanh toán
    </h1>
</div>
<form method="post" asp-controller="TenderTypeSetup" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;">Mã phương thức </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" asp-for="Code" readonly="readonly" value="@ViewBag.tendertype.Code">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên phương thức </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Description" value="@ViewBag.tendertype.Description">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Đơn vị tiền tệ </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="CurrencyCode" value="@ViewBag.tendertype.CurrencyCode">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Caption </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Caption" value="@ViewBag.tendertype.Caption">
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/TenderTypeSetup">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>
</form>
