﻿
@{
    ViewData["Title"] = "Phương thức thanh toán";
    ViewData["TitleActive"] = "Phương thức thanh toán";
    ViewData["TitleCurrent"] = "Phương thức thanh toán";
     ViewBag.Current = "TenderTypeSetup";
    ViewData["Menu1"] = "active open";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home" data-table="tendertype-table" aria-expanded="true">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Phương thức thanh toán
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages" data-table="tendertypestore-table">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Gán phương thức vào cửa hàng

                                </a>
                            </li>

                           
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="tendertype-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã phương thức</th>
                                                <th>Tên phương thức thanh toán</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>
                                    <hr />

                                </div>
                            </div>

                            <div id="messages" class="tab-pane fade">
                                @using (Html.BeginForm("AddTenderType", "TenderTypeSetup", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="form-field-select-3" class="col-sm-4 control-label no-padding-right">Gán thông tin thanh toán của cửa hàng</label>
                                        <div class="col-sm-6">
                                            <select name="StoreNo1" asp-items="@ViewBag.StoreNo1" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo1" data-placeholder="Chọn cửa hàng..." style="display: none;"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-field-select-3" class="col-sm-4 control-label no-padding-right">Cho cửa hàng</label>
                                        <div class="col-sm-6">
                                            <select name="StoreNo2" asp-items="@ViewBag.StoreNo2" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo2" data-placeholder="Chọn cửa hàng..." style="display: none;"></select>
                                        </div>
                                    </div>

                                </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button class="btn btn-info" type="submit">
                                                Gán thông tin
                                            </button>
                                            <button class="btn" type="reset">
                                                Làm lại
                                            </button>
                                        </div>
                                    </div>

                                }
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="tendertypestore-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã cửa hàng</th>
                                                <th>Mã phương thức thanh toán</th>
                                                <th>Tên phương thức thanh toán</th>
                                                <th>Hoạt động</th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <hr />

                                </div>
                            </div>

                            
                        </div>
                    </div>
                   
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>


        $(document).ready(function ()
        {
            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });
            }
            // $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
       // $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        //     });

           // $("a[href='#home']").on('shown.bs.tab', function (e) {
                $("#tendertype-table").DataTable({

                        "language":
                        {
                            "processing": "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

                        },

                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": true, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once
                        "ajax": {
                            "url": "TenderTypeSetup/LoadData",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "destroy": true,
                        "columns": [

                            {
                                data: "Code", render: function (data, type, row) {
                                    return "<a href='/TenderTypeSetup/ViewDetail/" + row.Code + "'>" + row.Code + "</a>";

                                }
                            },
                            { "data": "Description", "name": "Description", "autoWidth": true },
                            {
                                data: null, render: function (data, type, row) {
                                    return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/TenderTypeSetup/Edit/" + row.Code + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.Code + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
                                }
                            },


                        ]


                          });
           // });
            $("a[href='#messages']").on('shown.bs.tab', function (e) {
                $("#tendertypestore-table").DataTable({

                        "language":
                        {
                            "processing": "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

                        },

                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": true, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once
                        "ajax": {
                            "url": "TenderTypeSetup/LoadData2",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "destroy": true,
                        "columns": [
                            { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },
                            { "data": "Code", "name": "Code", "autoWidth": true },
                            { "data": "Description", "name": "Description", "autoWidth": true },
                            {
                                data: "MayBeUsed", render: function (data, type, row) {
                                    if (data == 0) { return "<span class='label'>Không</span>"; }
                                    else return "<span class='label label-primary'>Có</span>";

                                }
                            },



                        ]


                          });
            });
           
               
  
        });


    function DeleteData(Code)
        {
            bootbox.confirm({
						message: "Bạn có chắc muốn xóa dòng này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(Code); }
                            else { }
						}
					  }
					);
        }


        function Delete(Code)
    {
        var url = '@Url.Content("~/")' + "TenderTypeSetup/Delete";

            $.post(url, { ID: Code }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#tendertype-table').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Có lỗi xảy ra!");
                    }
                });
    }

    </script>
    }
