﻿
@{
    ViewData["Title"] = "Phương thức thanh toán";
    ViewData["TitleActive"] = "Phương thức thanh toán";
    ViewData["TitleCurrent"] = "Phương thức thanh toán";
     ViewBag.Current = "TenderTypeSetup";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.TenderType
<div class="page-header">
    <h1>
        Phương thức thanh toán
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã phương thức </label>

        <label class="col-sm-9 no-padding-right" style="padding-top:7px;">@ViewBag.tendertype.Code</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên phương thức </label>

        <label class="col-sm-9 no-padding-right" style="padding-top:7px;">@ViewBag.tendertype.Description</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Caption </label>

        <label class="col-sm-9 no-padding-right" style="padding-top:7px;">@ViewBag.tendertype.Caption</label>
    </div>

</form>

<hr />
<div class="pull-right">
    <a class="btn btn-success btn-sm" href="/TenderTypeSetup/Edit/@ViewBag.tendertype.Code">
        <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
        Sửa thông tin
    </a>
    <a class="btn btn-danger btn-sm" href="/TenderTypeSetup">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>
        Trở về danh sách
    </a>
</div>
