﻿
@{
    ViewData["Title"] = "Thông tin khuyến mại";
    ViewData["TitleActive"] = "Thông tin khuyến mại";
    ViewData["TitleCurrent"] = "Thông tin khuyến mại";
    ViewBag.Current = "Coupon";
    ViewData["Menu3"] = "active open";
}



<div class="row">
    <div class="col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-large">
                <h3 class="widget-title grey lighter">
                    <i class="ace-icon fa fa-leaf green"></i>
                    Thông tin khuyến mại
                </h3>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Mã:</span>
                    <span class="red">@ViewBag.sale.CouponCode</span>

                    <br />
                    <span class="invoice-info-label">Ngày tạo:</span>
                    <span class="blue">@ViewBag.sale.LastDateModified.ToString(string.Format("dd/MM/yyyy hh:mm tt"))</span>
                </div>

                <div class="widget-toolbar hidden-480">
                    <a href="#">
                        <i class="ace-icon fa fa-print"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-24">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b>Thông tin cơ bản</b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled spaced">


                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Mã cửa hàng:
                                        <b class="red">@ViewBag.sale.ItemName</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Ngày có hiệu lực:
                                        <b class="red">@ViewBag.sale.StartingDate</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Ngày kết thúc:
                                        <b class="red">@ViewBag.sale.EndingDate</b>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.col -->

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b>Khuyến mại</b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled  spaced">


                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Giảm giá:
                                        <b class="red">@ViewBag.sale.DiscountValue.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Số lượng giới hạn:
                                        <b class="red">@ViewBag.sale.LimitQty.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Tối đa:
                                        <b class="red">@ViewBag.sale.MaxAmount.ToString("N0")</b>
                                    </li>

                                </ul>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="space"></div>
                    @if (ViewBag.products.Count > 0)
                    {
                    <div class="col-sm-12 widget-container-col" id="widget-container-col-11">
                        <div class="widget-box widget-color-dark" id="widget-box-11">

                            <div class="widget-body">
                                <div class="widget-main padding-4 scrollable" data-size="425">
                                    <div class="content">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="">LineNo</th>
                                                    <th>LineItemNo</th>
                                                    <th class="hidden-xs">Description</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var product in ViewBag.products)
                                                {
                                                    <tr>
                                                        <td>@product.LineNo</td>
                                                        <td>@product.LineItemNo</td>
                                                        <td>@product.Description</td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }



                </div>
                    </div>
                </div>
                </div>
</div>

<!-- PAGE CONTENT ENDS -->
<div class="space"></div>
<div class="pull-right">
    <a class="btn btn-sm btn-danger" href="/Coupon">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
    </a>
</div>

@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
            $('.scrollable').each(function () {
					var $this = $(this);
					$(this).ace_scroll({
						size: $this.attr('data-size') || 100,
						//styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
					});
				});
				$('.scrollable-horizontal').each(function () {
					var $this = $(this);
					$(this).ace_scroll(
					  {
						horizontal: true,
						styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
						size: $this.attr('data-size') || 500,
						mouseWheelLock: true
					  }
					).css({'padding-top': 12});
				});
				
				$(window).on('resize.scroll_reset', function() {
					$('.scrollable-horizontal').ace_scroll('reset');
				});
            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
}
