﻿
@{
    ViewData["Title"] = "Store Price Group";
    ViewData["TitleActive"] = "Store Price Group";
    ViewData["TitleCurrent"] = "Store Price Group";
    ViewBag.Current = "StorePriceGroup";
    ViewData["Menu3"] = "active open";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Thêm Store Price Group
                </h1>
            </div><!-- /.page-header -->
            <!-- PAGE CONTENT BEGINS -->
            @using (Html.BeginForm("AddStorePriceGroup", "StorePriceGroup", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="form-field-select-3" class="col-sm-4 control-label no-padding-right">Chọn mã cửa hàng/Kho hàng</label>
                        <div class="col-sm-6">
                            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn cửa hàng..." style="display: none;"></select>                        </div>
                    </div>
                    
                </div>
              


                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và tạo mới
                        </button>
                        
                    </div>
                </div>

            }
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="storeprice-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã Kho hàng/Cửa hàng</th>
                                    <th>Price group code</th>
                                    <th>Quyền</th>

                                </tr>
                            </thead>

                        </table>
                        
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>
        $(document).ready(function () {
            $("#storeprice-table").DataTable({
                "language":
                {
                    "processing":  "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

                },

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "StorePriceGroup/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "Store", "name": "Store", "autoWidth": true },
                    { "data": "PriceGroupCode", "name": "PriceGroupCode", "autoWidth": true },
                    { "data": "Priority", "name": "Priority", "autoWidth": true },



                ]

            });
            if (!ace.vars['touch']) {

                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })

                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });



    </script>

}
