﻿
@{
    ViewData["Title"] = "Danh sách khuyến mại";
    ViewData["TitleActive"] = "Danh sách khuyến mại";
    ViewData["TitleCurrent"] = "Danh sách khuyến mại";
    ViewBag.Current = "Sale";
    ViewData["Menu3"] = "active open";
}
    <div class="row">
        <div class="col-sm-12 widget-container-col" id="widget-container-col-1">
            <div class="widget-box transparent ui-sortable-handle" id="widget-box-1">
                <div class="widget-header">
                    <h3 class="widget-title grey lighter">

                        Thông tin khuyến mại
                    </h3>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b>Thông tin khuyến mại</b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled spaced">
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Mã:
                                        <b class="red">@ViewBag.sale.No</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Ngày tạo:
                                        <b class="red">@ViewBag.sale.LastDateModified.ToString(string.Format("dd/MM/yyyy"))</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Mô tả:
                                        <b class="red">@ViewBag.sale.Description</b>
                                    </li>

                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Ngày bắt đầu:
                                        <b class="red">@ViewBag.sale.StartingDate.ToString(string.Format("dd/MM/yyyy"))</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Ngày kết thúc:
                                        <b class="red">@ViewBag.sale.EndingDate.ToString(string.Format("dd/MM/yyyy"))</b>
                                    </li>

                                </ul>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b>Thông tin chi tiết</b>
                                </div>
                            </div>
                            <div>
                                <ul class="list-unstyled  spaced">
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Số lượng giới hạn:
                                        <b class="red">@ViewBag.sale.LimitQty</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Dạng khuyến mại:
                                        <b class="red">@ViewBag.sale.OfferType</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Hoạt động:
                                        <b class="red">@ViewBag.sale.Status</b>
                                    </li>
                                    <li>

                                        <div class="col-sm-6">
                                            <i class="ace-icon fa fa-caret-right green"></i>
                                            Thời gian hoạt động
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Mon" name="Mon" type="checkbox" value="true" />
                                                <label>Thứ 2</label>
                                            </fieldset>
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Tue" name="Tue" type="checkbox" value="true" />
                                                <label>Thứ 3</label>
                                            </fieldset>
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Wed" name="Web" type="checkbox" value="true" />
                                                <label>Thứ 4</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Tue" name="Tue" type="checkbox" value="true" />
                                                <label>Thứ 5</label>
                                            </fieldset>
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Fri" name="Fri" type="checkbox" value="true" />
                                                <label>Thứ 6</label>
                                            </fieldset>
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Sat" name="Sat" type="checkbox" value="true" />
                                                <label>Thứ 7</label>
                                            </fieldset>
                                            <fieldset data-role="controlgroup">
                                                <input id="@ViewBag.sale.Sun" name="Sun" type="checkbox" value="true" />
                                                <label>Chủ nhật</label>
                                            </fieldset>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
        <div class="space-12" style="clear:both;">
        </div>
        @if (ViewBag.product2.Count > 0)
        {
            <div class="col-sm-12 widget-container-col" id="widget-container-col-2">
                <div class="widget-box transparent ui-sortable-handle" id="widget-box-2">
                    <div class="widget-header">
                        <h3 class="widget-title grey lighter">

                            Offer Buy
                        </h3>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table id="dynamic-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>Line No</th>
                                    <th>Line Type</th>
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Unit Of Measure</th>
                                    <th>Discount Type</th>
                                    <th>Discount Value</th>
                                    <th>Quantity</th>
                                    <th>Step</th>
                                    <th>Bonus Buy No</th>
                                    <th>Line Group</th>
                                    <th>Scale Type</th>
                                </tr>
                            </thead>

                            @foreach (var item2 in ViewBag.product2)
                            {
                                <tr>

                                    <td>@item2.lineNo</td>
                                    <td>@item2.lineType</td>
                                    <td>@item2.no</td>
                                    <td>@item2.description</td>
                                    <td>@item2.unitOfMeasure</td>
                                    <td>@item2.discountType</td>
                                    <td>@item2.discountValue</td>
                                    <td>@item2.quantity</td>
                                    <td>@item2.step</td>
                                    <td>@item2.bonusBuyNo</td>
                                    <td>@item2.lineGroup</td>
                                    <td>@item2.scaleType</td>

                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        }
        <div class="space-12" style="clear:both;">
        </div>
        @if (ViewBag.product3.Count > 0)
        {
            <div class="col-sm-12 widget-container-col" id="widget-container-col-3">
                <div class="widget-box transparent ui-sortable-handle" id="widget-box-3">
                    <div class="widget-header">
                        <h3 class="widget-title grey lighter">

                            Offer Get
                        </h3>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table id="dynamic-table2" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>Line No</th>
                                    <th>Line Type</th>
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Unit Of Measure</th>
                                    <th>Discount Type</th>
                                    <th>Discount Value</th>
                                    <th>Quantity</th>
                                    <th>Step</th>
                                    <th>Bonus Buy No</th>
                                    <th>Line Group</th>
                                    <th>Scale Type</th>
                                </tr>
                            </thead>
                            @foreach (var item2 in ViewBag.product3)
                            {
                                <tr>

                                    <td>@item2.lineNo</td>
                                    <td>@item2.lineType</td>
                                    <td>@item2.no</td>
                                    <td>@item2.description</td>
                                    <td>@item2.unitOfMeasure</td>
                                    <td>@item2.discountType</td>
                                    <td>@item2.discountValue</td>
                                    <td>@item2.quantity</td>
                                    <td>@item2.step</td>
                                    <td>@item2.bonusBuyNo</td>
                                    <td>@item2.lineGroup</td>
                                    <td>@item2.scaleType</td>

                                </tr>
                            }
                        </table>
                    </div>
                </div>

            </div>
        }
        @if (ViewBag.product4.Count > 0)
        {
            <div class="col-sm-12 widget-container-col" id="widget-container-col-3">
                <div class="widget-box transparent ui-sortable-handle" id="widget-box-3">
                    <div class="widget-header">
                        <h3 class="widget-title grey lighter">

                            Offer Benefits
                        </h3>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>lineNo</th>
                                    <th>type</th>
                                    <th>no</th>
                                    <th>variantCode</th>
                                    <th>description</th>
                                    <th>valueType</th>
                                    <th>value</th>
                                    <th>stepAmount</th>
                                    <th>lineGroup</th>
                                    <th>quantity</th>
                                    <th>unitOfMeasure</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.product4)
                                {
                                    <tr>

                                        <td>@item.lineNo</td>
                                        <td>@item.type</td>
                                        <td>@item.no</td>
                                        <td>@item.variantCode</td>
                                        <td>@item.description</td>
                                        <td>@item.valueType</td>
                                        <td>@item.value</td>
                                        <td>@item.stepAmount</td>
                                        <td>@item.lineGroup</td>
                                        <td>@item.quantity</td>
                                        <td>@item.unitOfMeasure</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        }
        <div class="space-12" style="clear:both;">
        </div>
        @if (ViewBag.product.Count > 0)
        {
            <div class="col-sm-12 widget-container-col" id="widget-container-col-3">
                <div class="widget-box transparent ui-sortable-handle" id="widget-box-3">
                    <div class="widget-header">
                        <h3 class="widget-title grey lighter">
                            Offer Sites
                        </h3>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Danh sách cửa hàng</td>
                                <td>
                                    @foreach (var item in ViewBag.product)
                                    {
                                        <span>@item.storeNo</span>
                                        <span class="blue">|</span>
                                    }

                                </td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>
        }





    </div>

    <div class="space-12" style="clear:both;">
    </div>
    <div class="pull-right">
        <a class="btn btn-danger btn-sm" href="/Offer">
            <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
        </a>
    </div>
            
            @section scripts {
                <script src="~/Assets/js/jquery.dataTables.min.js"></script>
                <script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
                <script src="~/Assets/js/dataTables.buttons.min.js"></script>
                <script src="~/Assets/js/buttons.flash.min.js"></script>
                <script src="~/Assets/js/buttons.html5.min.js"></script>
                <script src="~/Assets/js/buttons.print.min.js"></script>
                <script src="~/Assets/js/buttons.colVis.min.js"></script>
                <script src="~/Assets/js/dataTables.select.min.js"></script>
                <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
                <script src="~/Assets/js/bootstrap-timepicker.min.js"></script>
                <script src="~/Assets/js/moment.min.js"></script>
                <script src="~/Assets/js/daterangepicker.min.js"></script>
                <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
                <script type="text/javascript">
                    jQuery(function ($) {
                        //initiate dataTables plugin
                        var myTable =
                            $('#dynamic-table')
                                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                                .DataTable({
                                   
                                });

                         var myTable2 =
                            $('#dynamic-table2')
                                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                                .DataTable({
                                   
                                });



                    });
                </script>
            }
