
﻿@using System.Data
@using System.Globalization
@{
    ViewData["Title"] = "Tìm kiếm sản phẩm";
    ViewData["TitleActive"] = "Tìm kiếm sản phẩm";
    ViewData["TitleCurrent"] = "Tìm kiếm sản phẩm";
    ViewBag.Current = "Item";
     ViewData["Menu4"] = "active open";
   

}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Tìm kiếm sản phẩm
                </h1>
            </div><!-- /.page-header -->
            <!-- PAGE CONTENT BEGINS -->
            <div class="clearfix form-actions">
                <form id="form-filter" class="form-horizontal">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Cửa hàng/Kho </label>

                        <div class="col-sm-7">
                            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;">                      
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1-1"> Mã sản phẩm</label>
                        <div class="col-sm-7">
                            <input type="text" id="ItemNo" placeholder="Mã sản phẩm" class="form-control" value="@ViewBag.ItemNo" name="ItemNo" />
                        </div>

                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1-1"> Barcode</label>
                        <div class="col-sm-7">
                            <input type="text" id="Barcode" placeholder="Barcode" class="form-control" value="@ViewBag.Barcode" name="Barcode" />
                        </div>

                    </div>

                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1-1"> Tên sản phẩm</label>
                        <div class="col-sm-7">
                            <input type="text" id="Description" placeholder="Tên sản phẩm" class="form-control" value="@ViewBag.Description" name="Description" />
                        </div>

                    </div>
                    <div class="col-md-offset-4 col-md-8">
                        <button class="btn btn-info" type="button" id="btnSearch">
                            <i class="ace-icon fa fa-search bigger-110"></i>
                            Tìm kiếm
                        </button>
                        <button class="btn" type="button" id="btn-reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Thiết lập lại
                        </button>

                    </div>
                    </form>
</div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Store No</th>
                                    <th>Item No</th>
                                    <th>Barcode No</th>
                                    <th>Description</th>
                                    <th>Unit Of MeasureCode</th>
                                    <th>UnitPrice</th> 
                                    <th>ArticleType</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Blocked</th>
                                    <th>Critical</th>
                                </tr>
                            </thead>
                          

                        </table>

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/js/buttons.flash.min.js"></script>
    <script src="~/Assets/js/buttons.html5.min.js"></script>
    <script src="~/Assets/js/buttons.print.min.js"></script>
    <script src="~/Assets/js/buttons.colVis.min.js"></script>
    <script src="~/Assets/js/dataTables.select.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <script src="~/Assets/js/daterangepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            //initiate dataTables plugin
            var myTable =
                $('#dynamic-table')
                    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                       "language":
                        {
            
                        "processing":  "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "
            
                        },
                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": false, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once
                        "ajax": {
                            "url": "Item/LoadData",
                            "type": "POST",
                            
                            "data": function (data) {
 
                                data.StoreNo = $("#StoreNo").val();
                                data.ItemNo = $("#ItemNo").val();
                                data.Barcode = $("#Barcode").val();
                                data.Description = $("#Description").val();
                            }
                        },

                        "columns": [
                            { "data": "salesCode", "name": "salesCode", "autoWidth": true },
                            { "data": "itemNo", "name": "itemNo", "autoWidth": true },
                            { "data": "barcodeNo", "name": "barcodeNo", "autoWidth": true },
                            { "data": "description", "name": "description", "autoWidth": true },
                            { "data": "unitOfMeasureCode", "name": "unitOfMeasureCode", "autoWidth": true },
                           
                            {
                            data: "unitPrice", render: function (data, type, row) {
                                return data;
                            }
                            },
                            { "data": "articleType", "name": "articleType", "autoWidth": true },
                            
                            {
                            data: "startingDate", render: function (data, type, row) {
                                return moment(data).format("DD-MM-YYYY");
                            }
                            },
                            {
                            data: "endingDate", render: function (data, type, row) {
                                return moment(data).format("DD-MM-YYYY");
                            }
                            },
                            { "data": "blocked", "name": "blocked", "autoWidth": true },
                            { "data": "critical", "name": "critical", "autoWidth": true },
                        ]
                    });
           
           
            $('#btnSearch').click(function(){ //button filter event click
        myTable.ajax.reload();  //just reload table
            });
            $('#btn-reset').click(function(){ //button reset event click
        $('#form-filter')[0].reset();
        myTable.ajax.reload();  //just reload table
            });


            $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
            new $.fn.dataTable.Buttons(myTable, {
                buttons: [
                    {
                        "extend": "colvis",
                        "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        columns: ':not(:first):not(:last)'
                    },
                    {
                        "extend": "copy",
                        "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },
                    {
                        "extend": "csv",
                        "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },
                    {
                        "extend": "excel",
                        "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },
                    {
                        "extend": "pdf",
                        "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                    },
                    {
                        "extend": "print",
                        "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        autoPrint: false,
                        message: 'This print was produced using the Print button for DataTables'
                    }
                ]
            });
            myTable.buttons().container().appendTo($('.tableTools-container'));
            //style the message box
            var defaultCopyAction = myTable.button(1).action();
            myTable.button(1).action(function (e, dt, button, config) {
                defaultCopyAction(e, dt, button, config);
                $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
            });
            var defaultColvisAction = myTable.button(0).action();
            myTable.button(0).action(function (e, dt, button, config) {
                defaultColvisAction(e, dt, button, config);
                if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                    $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
                }
                $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
            });
            setTimeout(function () {
                $($('.tableTools-container')).find('a.dt-button').each(function () {
                    var div = $(this).find(' > div').first();
                    if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                    else $(this).tooltip({ container: 'body', title: $(this).text() });
                });
            }, 500);

            myTable.on('select', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
                }
            });
            myTable.on('deselect', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
                }
            });
            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $('#dynamic-table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) myTable.row(row).select();
                    else myTable.row(row).deselect();
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (this.checked) myTable.row(row).deselect();
                else myTable.row(row).select();
            });

            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });

            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if ($row.is('.detail-row ')) return;
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function (e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
            

        });
    </script>
}
