﻿
@{
    ViewData["Title"] = "POS Lý do thao tác";
    ViewData["TitleActive"] = "POS Lý do thao tác";
    ViewData["TitleCurrent"] = "POS Lý do thao tác";
    ViewBag.Current = "ReasonCode";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.ReasonCode
<div class="page-header">
    <h1>
        Chỉnh sửa lý do thao tác
    </h1>
</div>
<form method="post" asp-controller="ReasonCode" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã lý do </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" asp-for="Code" readonly="readonly" value="@ViewBag.reason.Code">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên lý do </label>

        <div class="col-sm-9">
            <input type="text" id="Description" name="Description" required class="col-xs-10 col-sm-5" asp-for="Description" value="@ViewBag.reason.Description">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Nhóm lý do </label>

        <div class="col-sm-9">
            <input type="text" id="Group" name="Group" required class="col-xs-10 col-sm-5" asp-for="Group" value="@ViewBag.reason.Group">
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/ReasonCode">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">
         $(function () {
                                ////from validate
                                $("#add-form").validate({
                                    errorElement: 'span',
                                    errorClass: "error",

                                    errorPlacement: function (error, element, value) {
                                        error.appendTo(element.parent('div:first'));
                                        element.parents('div:first').addClass("error");
                                    },
                                    rules: {
                                        Description: {
                                            text_validate_default: true
                                        },
                                        Code: {
                                            text_validate_default: true
                                        },
                                        Group: {
                                            text_validate_default: true
                                        }
                                    },
                                    messages: {
                                        Description: {
                                            text_validate_default: "Vui lòng điền thông tin"
                                        },
                                        Code: {
                                            text_validate_default: "nnnnn"
                                        },
                                         Group: {
                                            text_validate_default: "nnnnn"
                                        }
                                    }
                                });
         });
    </script>
}