﻿
@{
    ViewData["Title"] = "POS Lý do thao tác";
    ViewData["TitleActive"] = "POS Lý do thao tác";
    ViewData["TitleCurrent"] = "POS Lý do thao tác";
    ViewBag.Current = "ReasonCode";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.ReasonCode
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Danh sách lý do thao tác
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Thêm mới lý do thao tác

                                </a>
                            </li>


                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="reason-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã lý do</th>
                                                <th>Lý do</th>
                                                <th>Nhóm lý do</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>

                            <div id="messages" class="tab-pane fade">
                                <form method="post" asp-controller="ReasonCode" asp-action="Add" class="form-horizontal" id="addd-form">


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã lý do </label>

                                        <div class="col-sm-5">
                                            <input type="text" id="Code" name="Code" class="col-xs-10 col-sm-5 form-control" asp-for="Code" onchange="UserCheck()" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-10">
                                            <p id="Status" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên lý do </label>

                                        <div class="col-sm-5">
                                            <input type="text" id="Description" class="col-xs-10 col-sm-5 form-control" name="Description" asp-for="Description" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Nhóm lý do </label>

                                        <div class="col-sm-5">
                                            <input type="text" id="Group" class="col-xs-10 col-sm-5 form-control" name="Group" asp-for="Group" required>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Lưu và tạo mới
                                            </button>
                                            <button class="btn" type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Thiết lập lại
                                            </button>

                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>

        function UserCheck() {
        $("#Status").html("Kiểm tra...");
        $.post("@Url.Action("CheckUsernameAvailability", "ReasonCode")",
            {
                userdata: $("#Code").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Bạn có thể sử dụng mã lý do này</font>');
                $("#Code").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">Mã lý do này đã được sử dụng.</font>');
                $("#Code").css("border-color", "Red");
            }
        });
    }

        $(document).ready(function ()
        {
            if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
            }
            $("#reason-table").DataTable({

                "language":
                    {
                     "processing":  "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

            },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "ReasonCode/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    {
                        data: "Code", render: function (data, type, row) {
                            return "<a href='/ReasonCode/ViewDetail/" + row.Code + "'>" + row.Code + "</a>";

                        }
                    },

                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Group", "name": "Group", "autoWidth": true },

                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/ReasonCode/Edit/" + row.Code + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.Code + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
                        }
                    },


                ]


            });
        });


    function DeleteData(Code)
        {
            bootbox.confirm({
						message: "Bạn có chắc muốn xóa dòng này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(Code); }
                            else { }
						}
					  }
					);
        }


        function Delete(Code)
    {
        var url = '@Url.Content("~/")' + "ReasonCode/Delete";

            $.post(url, { ID: Code }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#reason-table').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Có lỗi xảy ra!");
                    }
                });
    }

    </script>
}

