﻿
@{
    ViewData["Title"] = "POS Lý do thao tác";
    ViewData["TitleActive"] = "POS Lý do thao tác";
    ViewData["TitleCurrent"] = "POS Lý do thao tác";
    ViewBag.Current = "ReasonCode";
    ViewData["Menu1"] = "active open";
}
@model WebPOS.Dto.ReasonCode


<div class="page-header">
    <h1>
        Thông tin lý do
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã lý do </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Code</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Lý do </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Description</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Nhóm lý do </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Group</label>
    </div>
   


</form>
<hr />
<div class="pull-right">
    <a class="btn btn-success btn-sm" href="/ReasonCode/Edit/@ViewBag.posterminal.Code">
        <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
        Sửa thông tin
    </a>
    <a class="btn btn-danger btn-sm" href="/ReasonCode">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
    </a>
</div>

