﻿@{
    ViewData["Title"] = "Phân Quyền";
    ViewData["TitleActive"] = "Phân Quyền";
    ViewData["TitleCurrent"] = "Phân Quyền";
    ViewBag.Current = "Role";
    ViewData["Menu2"] = "active open";
}
@model WebPOS.Dto.Role
<div class="page-header">
    <h1>
        Sửa thông tin phân quyền
    </h1>
</div>
<form method="post" asp-controller="Role" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;">Role ID </label>

        <div class="col-sm-9">
            <input type="text" id="UserName" class="col-xs-10 col-sm-5" required asp-for="RoleID" value="@ViewBag.userrole.RoleID" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> RoleName </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="RoleName" value="@ViewBag.userrole.RoleName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Description </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Description" value="@ViewBag.userrole.Description">
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/Role">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>

</form>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box widget-color-blue2">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">Thiết lập vai trò</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div style="margin-left:28px; margin-top:20px; margin-bottom:20px;">
                        <button type="button" class="btn">Thu hẹp</button>
                        <button type="button" class="btn">Mở rộng</button>
                        <button type="button" class="btn">Chọn tất cả</button>
                        <button type="button" class="btn">Bỏ chọn tất cả</button>
                    </div>

                    <ul class="tree">
                        @Html.Raw(ViewBag.menu)
                    </ul>
                    <div style="margin-left:28px">
                        <button onclick="Done()" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
@section scripts {
    <script type="text/javascript">
        $(document).on('click', '.tree label', function (e) {
        $(this).next('ul').fadeToggle();
        e.stopPropagation();
    });

    $(document).on('change', '.tree input[type=checkbox]', function (e) {
        $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
        $(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);
        e.stopPropagation();
    });

    $(document).on('click', 'button', function (e) {
        switch ($(this).text()) {
            case 'Thu hẹp':
                $('.tree ul').fadeOut();
                break;
            case 'Mở rộng':
                $('.tree ul').fadeIn();
                break;
            case 'Chọn tất cả':
                $(".tree input[type='checkbox']").prop('checked', true);
                break;
            case 'Bỏ chọn tất cả':
                $(".tree input[type='checkbox']").prop('checked', false);
                break;
            default:
        }
    });


    function Done() {

        var checkedValues = $('input:checkbox:checked').map(function () {
            return this.id;
        }).get();

        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("Update", "Role")',
            data: {
                id: @ViewBag.userrole.RoleID,
                roles: checkedValues
            },
            error: function (result) {
                alert("có lỗi xảy ra");
            },
            success: function (result) {
                $body.removeClass("loading");
                if (result.status == true) {

                    alert("Cập nhật vai trò thành công")
                    var baseUrl = "/Role";
                    window.location.href = baseUrl;
                }
                else {
                    alert("Failed:"+result);
                }
            }
        });
    }

    </script>
}

