﻿
@{
    ViewData["Title"] = "Phân quyền";
    ViewData["TitleActive"] = "Phân quyền";
    ViewData["TitleCurrent"] = "Phân quyền";
    ViewBag.Current = "UserRole";
    ViewData["Menu2"] = "active open";
}
@model WebPOS.Dto.Role
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Danh sách quyền truy cập
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Thêm mới quyền truy cập

                                </a>
                            </li>



                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="role-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Role ID</th>
                                                <th>Role name</th>
                                                <th>Description</th>
                                                <th>Created Date</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>



                            <div id="messages" class="tab-pane fade ">
                                <form method="post" asp-controller="Role" asp-action="Add" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;">Mã phân quyền </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="RoleID" required class="col-xs-10 col-sm-5" asp-for="RoleID" onchange="UserCheck()">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-10">
                                            <p id="Status" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="form-field-1" required class="col-xs-10 col-sm-5" asp-for="RoleName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mô tả </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="form-field-1" required class="col-xs-10 col-sm-5" asp-for="Description">
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Lưu và tạo mới
                                            </button>
                                            <button class="btn" type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Thiết lập lại
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- PAGE CONTENT ENDS -->

            </div><!-- /.page-content -->
        </div>
    </div>
</div><!-- /.main-content -->
@section scripts {
    <!-- page specific plugin scripts -->

    <script>
        function UserCheck() {
        $("#Status").html("Kiểm tra...");
        $.post("@Url.Action("CheckUsernameAvailability", "Role")",
            {
                userdata: $("#RoleID").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Bạn có thể sử dụng Role ID này</font>');
                $("#RoleID").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">Role ID này đã được sử dụng.</font>');
                $("#RoleID").css("border-color", "Red");
            }
        });
    }
        $(document).ready(function ()
        {
            if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
            $("#role-table").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "Role/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [

                    { "data": "RoleID", "name": "RoleID", "autoWidth": true },
                    { "data": "RoleName", "name": "RoleName", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    {
                        data: "CreatedDate", render: function (data, type, row) {
                            return moment(data).format("DD-MM-YYYY");
                        }
                    },

                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/Role/Edit/" + row.RoleID + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.RoleID + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
                        }
                    },


                ]

            });

        });

      function DeleteData(RoleID)
        {
             bootbox.confirm({
						message: "Bạn có chắc muốn xóa dòng này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(RoleID); }
                            else { }
						}
					  }
					);
        }


        function Delete(RoleID)
    {
        var url = '@Url.Content("~/")' + "Role/Delete";

            $.post(url, { ID: RoleID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#role-table').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Có lỗi xảy ra!");
                    }
                });
    }


    </script>

}