﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập - Vinmart</title>
    <link rel="shortcut icon" href="~/Assets/images/vineco.ico">
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/Assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Assets/css/ace-rtl.min.css" />
</head>
<body class="login-layout light-login">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="margin-top:50px">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class=""></i>
                            <span class="red"></span>
                            <img src="~/images/logo.svg" style="width:150px" />
                        </h1>
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        Đăng nhập hệ thống
                                    </h4>
                                    <div class="space-6"></div>
                                    @if (@ViewBag.Error != "")
                                    {
                                        <span class="error" style="color:red">@ViewBag.Error</span>
                                    }
                                    <div class="space-6"></div>
                                    @using (Html.BeginForm("PostLogin", "Login"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" id="UserName" name="username" class="form-control" placeholder="Tài khoản" required />
                                                    <i class="ace-icon fa fa-user"></i>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" id="Password" name="password" class="form-control" placeholder="Mật khẩu" required />
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>
                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"> Ghi nhớ đăng nhập</span>
                                                </label>

                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">Đăng nhập</span>
                                                </button>
                                            </div>
                                            <div class="space-4"></div>


                                        </fieldset>
                                        <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="/admin" />
                                    }

                                </div><!--/widget-main-->
                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Quên mật khẩu
                                        </a>
                                    </div>

                                   
                                </div>
                            </div><!--/widget-body-->
                        </div><!--/login-box-->
                        <script src="~/Assets/js/jquery-2.1.4.min.js"></script>
                        <script src="~/Assets/js/jquery.validate.min.js"></script>
                        <script type="text/javascript">
                            function CheckBoxchange(id) {
                                if ($("#chk" + id).is(':checked')) {
                                    $("#" + id).val("true");
                                }
                                else {
                                    $("#" + id).val("false");
                                }
                            }
                            $(function () {
                                ////from validate
                                $("#login_form").validate({
                                    errorElement: 'span',
                                    errorClass: "error",
                                    errorPlacement: function (error, element, value) {
                                        error.appendTo(element.parent('div:first'));
                                        element.parents('div:first').addClass("error");
                                    },
                                    rules: {
                                        UserName: {
                                            text_validate_default: true
                                        },
                                        Password: {
                                            text_validate_default: true
                                        }
                                    },
                                    messages: {
                                        UserName: {
                                            text_validate_default: "aaaaa"
                                        },
                                        Password: {
                                            text_validate_default: "nnnnn"
                                        }
                                    }
                                });
                            });
                        </script>
                    </div><!-- /.position-relative -->

                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
   
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
        //you don't need this, just used for changing background
      

    </script>
</body>
</html>
