﻿
@{
    ViewData["Title"] = "Nhật ký doanh thu cửa hàng";
    ViewData["TitleActive"] = "Nhật ký doanh thu cửa hàng";
    ViewData["TitleCurrent"] = "Nhật ký doanh thu cửa hàng";
    ViewBag.Current = "Item";
    ViewData["Menu4"] = "active open";


}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Nhật ký doanh thu cửa hàng
                </h1>
            </div><!-- /.page-header -->
            <!-- PAGE CONTENT BEGINS -->
            <div class="clearfix form-actions">
                <form id="form-filter" class="form-horizontal">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Cửa hàng/Kho </label>

                        <div class="col-sm-4">
                            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;"></select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-md-4 control-label no-padding-right" for="form-field-1-1"> Từ ngày </label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" name="From_Date" value="@ViewBag.From_Date" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="col-md-4 control-label no-padding-right" for="form-field-1-1"> Đến ngày </label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" name="To_Date" value="@ViewBag.To_Date" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-8">
                        <button class="btn btn-info" type="button" id="btnSearch">
                            <i class="ace-icon fa fa-search bigger-110"></i>
                            Tìm kiếm
                        </button>
                        <button class="btn" type="button" id="btn-reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Thiết lập lại
                        </button>

                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Cửa hàng</th>
                                    <th>Ngày kinh doanh</th>
                                    <th>Tổng tiền</th>
                                    <th>Số tiền ngân hàng</th>
                                    <th>Báo cáo</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1511</th>
                                    <th>05/09/2019</th>
                                    <th>103.662.698</th>
                                    <th>0</th>
                                    <th><a href="/EndOfDateHistory/ViewDetail/">Xem chi tiết</a></th>
                                </tr>
                            </tbody>


                        </table>

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>
        $(document).ready(function () {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        });
            
    </script>
}
