﻿@{
    ViewData["Title"] = "Nhật ký doanh thu cửa hàng";
    ViewData["TitleActive"] = "Nhật ký doanh thu cửa hàng";
    ViewData["TitleCurrent"] = "Nhật ký doanh thu cửa hàng";
    
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-large">
                <h3 class="widget-title grey lighter">

                    Tổng hợp kết thúc ngày
                </h3>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Cửa hàng:</span>
                    <span class="red">#1511</span>

                    <br />
                    <span class="invoice-info-label">Ngày giờ:</span>
                    <span class="blue">04/04/2014</span>
                </div>

                <div class="widget-toolbar hidden-480">
                    <a href="#">
                        <i class="ace-icon fa fa-print"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-24">
                    <div class="row">
                        <div class="col-sm-6">



                            <ul class="list-unstyled spaced">


                                <li>
                                    <i class="ace-icon fa fa-caret-right blue"></i>
                                    Cửa hàng:
                                    <b class="red">001623 - Vinmart QNI Quảng Ngãi</b>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <i class="ace-icon fa fa-caret-right blue"></i>
                                    Ngày làm việc:
                                    <b class="red">11/09/2019</b>
                                </li>
                            </ul>

                        </div><!-- /.col -->

                    </div><!-- /.row -->

                    <div class="space"></div>

                    <div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="center">Số</th>
                                    <th>Mô tả</th>
                                    <th class="hidden-xs">Lượt khách hàng</th>
                                    <th class="hidden-480">Số lượng</th>
                                    <th>Số tiền</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="center">1</td>

                                    <td>
                                        <a href="#">google.com</a>
                                    </td>
                                    <td class="hidden-xs">
                                        1 year domain registration
                                    </td>
                                    <td class="hidden-480"> --- </td>
                                    <td>$10</td>
                                </tr>

                                <tr>
                                    <td class="center">2</td>

                                    <td>
                                        <a href="#">yahoo.com</a>
                                    </td>
                                    <td class="hidden-xs">
                                        5 year domain registration
                                    </td>
                                    <td class="hidden-480"> 5% </td>
                                    <td>$45</td>
                                </tr>

                                <tr>
                                    <td class="center">3</td>
                                    <td>Hosting</td>
                                    <td class="hidden-xs"> 1 year basic hosting </td>
                                    <td class="hidden-480"> 10% </td>
                                    <td>$90</td>
                                </tr>

                                <tr>
                                    <td class="center">4</td>
                                    <td>Design</td>
                                    <td class="hidden-xs"> Theme customization </td>
                                    <td class="hidden-480"> 50% </td>
                                    <td>$250</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="hr hr8 hr-double hr-dotted"></div>

                    <div class="row">
                        <div class="col-sm-5 pull-right">
                            <h4 class="pull-right">
                                Total amount :
                                <span class="red">$395</span>
                            </h4>
                        </div>
                        <div class="col-sm-7 pull-left"> Extra Information </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE CONTENT ENDS -->
							