﻿
@{
    ViewData["Title"] = "Nhân viên";
    ViewData["TitleActive"] = "Nhân viên";
    ViewBag.Current = "Staff";
    ViewData["TitleCurrent"] = "Nhân viên";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.Staff
<div class="page-header">
    <h1>
        Chỉnh sửa thông tin nhân viên
    </h1>
</div>
<form method="post" asp-controller="Staff" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã người dùng </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" asp-for="ID" readonly="readonly" value="@ViewBag.staff.ID">
        </div>
    </div>
    <div class="form-group">
        <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">Mã cửa hàng</label>
        <div class="col-sm-4">
            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên người dùng </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" required class="col-xs-10 col-sm-5" name="FirstName" value="@ViewBag.staff.FirstName">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Ngày hết hạn </label>

        <div class="col-sm-4">
            
            <div class="input-group">
                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm-dd-yyyy" name="DateToBeBlocked" value="@ViewBag.staff.DateToBeBlocked.ToString(string.Format("MM-dd-yyyy"))" />
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Blocked </label>

        <div class="col-sm-9">
            <label>
                <input id="Blocked" @(ViewBag.staff.Blocked == 1 ? "checked" : "") class="ace ace-switch ace-switch-5" name="Blocked" type="checkbox" value="@(ViewBag.staff.Blocked == 0 ? "false" : "true")">
                <span class="lbl"></span>
            </label>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/Staff">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box widget-color-blue2">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">Gán quyền truy cập cho người dùng</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">

                    <form method="post" asp-controller="Staff" asp-action="AddRoleUser" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;">Mã người dùng </label>

                            <div class="col-sm-9">
                                <input type="text" id="UserName" class="col-xs-10 col-sm-5" name="UserName" readonly="readonly" value="@ViewBag.staff.ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Chọn quyền truy cập </label>

                            <div class="col-sm-4">
                                <select name="RoleID" asp-items="@(new SelectList(@ViewBag.role,"RoleID", "RoleName"))" class="chosen-select form-control col-xs-10 col-sm-5" id="RoleID" data-placeholder="Chọn quyền truy cập..." style="display:none;"></select>

                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
            
            $("input[type=checkbox]").change(function () {
            if ($(this).prop("checked")) {
                $(this).val(true);
            } else {
                $(this).val(false);
                }    
            });
             $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;

                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
    }

