﻿
@{
    ViewData["Title"] = "Nhân viên";
    ViewData["TitleActive"] = "Nhân viên";
    ViewData["TitleCurrent"] = "Nhân viên";
    ViewBag.Current = "Staff";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.Staff
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Danh sách nhân viên
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Thêm mới nhân viên

                                </a>
                            </li>


                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="staff-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã người dùng</th>
                                                <th>Tên người dùng</th>
                                                <th>Mã Cửa hàng</th>
                                                <th>Blocked</th>
                                                <th>Ngày hết hạn</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>

                            <div id="messages" class="tab-pane fade">
                                <form method="post" asp-controller="Staff" asp-action="Add" class="form-horizontal">


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã người dùng </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="ID" required maxlength="8" class="col-xs-10 col-sm-5" asp-for="ID" onchange="UserCheck()">
                                            <span class="help-inline col-xs-12 col-sm-7">
                                                <span class="middle">Nhập 8 chữ số</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-10">
                                            <p id="Status" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">Mã cửa hàng</label>
                                        <div class="col-sm-4">
                                            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mật khẩu </label>

                                        <div class="col-sm-9">
                                            <input type="password" required id="form-field-1" class="col-xs-10 col-sm-5" asp-for="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên người dùng </label>

                                        <div class="col-sm-9">
                                            <input type="text" required id="form-field-1" class="col-xs-10 col-sm-5" asp-for="FirstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Ngày hết hạn </label>

                                        <div class="col-sm-4">

                                            <div class="input-group">
                                                <input required class="form-control date-picker" asp-for="DateToBeBlocked" id="id-date-picker-1" type="text" data-date-format="mm-dd-yyyy" name="DateToBeBlocked" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Lưu và tạo mới
                                            </button>
                                            <button class="btn" type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Thiết lập lại
                                            </button>
                                           
                                        </div>
                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>

        function UserCheck() {
        $("#Status").html("Kiểm tra...");
        $.post("@Url.Action("CheckUsernameAvailability", "Staff")",
            {
                userdata: $("#ID").val()
            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Bạn có thể sử dụng mã nhân viên này</font>');
                    $("#ID").css("border-color", "Green");

                }
                else {
                    $("#Status").html('<font color="Red">Mã nhân viên này đã được sử dụng.</font>');
                    $("#ID").css("border-color", "Red");
                }
            });
    }
    $(document).ready(function () {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
        $('#id-disable-check').on('click', function () {
            var inp = $('#form-input-readonly').get(0);
            if (inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly', 'true');
                inp.removeAttribute('disabled');
                inp.value = "This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled', 'disabled');
                inp.removeAttribute('readonly');
                inp.value = "This text field is disabled!";
            }
        });


        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
            $("#staff-table").DataTable({

                "language":
                {
                    "processing": "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "Staff/LoadData",
                    "type": "POST",
                    "datatype": "json",
                    "emptyTable": true
                },

                "columns": [

                    {
                        data: "ID", render: function (data, type, row) {
                            return "<a href='/Staff/ViewDetail/" + row.ID + "'>" + row.ID + "</a>";

                        }
                    },
                    { "data": "FirstName", "name": "FirstName", "autoWidth": true },
                    { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },

                    {
                        data: "Blocked", render: function (data, type, row) {
                            if (data == 0) { return "<span class='label'>Không</span>"; }
                            else return "<span class='label label-primary'>Có</span>";

                        }
                    },
                    {
                        data: "DateToBeBlocked", render: function (data, type, row) {
                            return moment(data).format("DD-MM-YYYY");
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/Staff/Edit/" + row.ID + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a></div>";
                        }
                    },


                ]


            });
        });




    </script>

}
