﻿
@{
    ViewData["Title"] = "Nhân viên";
    ViewData["TitleActive"] = "Nhân viên";
    ViewData["TitleCurrent"] = "Nhân viên";
    ViewBag.Current = "Staff";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.Staff
<div class="page-header">
    <h1>
        Thông tin nhân viên
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã Kho hàng/Cửa hàng: </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.StoreNo</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã người dùng: </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.ID</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên người dùng: </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.FirstName</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Blocked: </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;"> @(ViewBag.posterminal.Blocked == 0 ? "Không" : "Có")</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Ngày hết hạn:</label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.DateToBeBlocked.ToString(string.Format("dd/MM/yyyy"))</label>
    </div>


</form>
<hr />
<div class="pull-right">
    <a class="btn btn-success btn-sm" href="/Staff/Edit/@ViewBag.posterminal.ID">
        <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
        Sửa thông tin
    </a>
    <a class="btn btn-danger btn-sm" href="/Staff">
        <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
    </a>
</div>

