﻿
@{
    ViewData["Title"] = "Người dùng";
    ViewData["TitleActive"] = "Người dùng";
    ViewData["TitleCurrent"] = "Người dùng";
    
}
@model WebPOS.Dto.User
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#home">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                Danh sách người dùng
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#messages">
                                <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                Thêm mới người dùng

                            </a>
                        </li>


                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="col-xs-12">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="user-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã người dùng</th>
                                                <th>Họ Tên</th>
                                                <th>Email</th>
                                                <th>Ngày hết hạn</th>
                                                <th>Cửa hàng</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>

                        <div id="messages" class="tab-pane fade">
                            <form method="post" asp-controller="User" asp-action="Add" class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã người dùng </label>

                                    <div class="col-sm-9">
                                        <input type="text" id="UserName" class="col-xs-10 col-sm-5" asp-for="UserName" required onchange="UserCheck()">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2"></label>
                                    <div class="col-sm-10">
                                        <p id="Status" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Ngày hết hạn </label>

                                    <div class="col-sm-4">

                                        <div class="input-group">
                                            <input required class="form-control date-picker" asp-for="ExpiryDate" id="id-date-picker-1" type="text" data-date-format="mm-dd-yyyy" name="ExpiryDate" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Cửa hàng </label>

                                    <div class="col-sm-4">
                                        <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;">
                                            <option value="ALL"> Tất cả</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="submit">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Lưu và tạo mới
                                        </button>
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Thiết lập lại
                                        </button>

                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>

            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>
        function UserCheck() {
        $("#Status").html("Kiểm tra...");
        $.post("@Url.Action("CheckUsernameAvailability", "User")",
            {
                userdata: $("#UserName").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Bạn có thể sử dụng mã người dùng này</font>');
                $("#UserName").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">Không thể sử dụng mã người dùng này</font>');
                $("#UserName").css("border-color", "Red");
            }
        });
    }
        $(document).ready(function ()
        {
            $("#user-table").DataTable({
                "language":
                    {
            "emptyTable":     "No data available in table",
            "info":           "Hiển thị từ _START_ đến _END_ của _TOTAL_ người dùng",
            "infoEmpty":      "Hiển thị từ 0 đến 0 của 0 người dùng",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Hiển thị _MENU_ người dùng",
            "loadingRecords": "Đang tải...",
            "processing":     "Processing...",
            "search":         "Tìm kiếm:",
            "zeroRecords":    "No matching records found",
            "paginate": {
                "first":      "First",
                "last":       "Last",
                "next":       "Sau",
                "previous":   "Trước"
                    },
            },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "User/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [

                    {
                        data: "UserName", render: function (data, type, row) {
                            return "<a href='/User/ViewDetail/" + row.UserName.substring(9) + "'>" + row.UserName + "</a>";

                        }
                    },
                    { "data": "FullName", "name": "FullName", "autoWidth": true },
                    { "data": "AuthenticationEmail", "name": "AuthenticationEmail", "autoWidth": true },
                    {
                        data: "ExpiryDate", render: function (data, type, row) {
                            return moment(data).format("DD-MM-YYYY");
                        }
                    },
                    { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },
                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/User/Edit/" + row.UserName.substring(9) + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.UserName.substring(9) + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
                        }
                    },


                ]

            });
             $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });

        $('#id-disable-check').on('click', function () {
            var inp = $('#form-input-readonly').get(0);
            if (inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly', 'true');
                inp.removeAttribute('disabled');
                inp.value = "This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled', 'disabled');
                inp.removeAttribute('readonly');
                inp.value = "This text field is disabled!";
            }
        });


        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }

        });

      function DeleteData(UserName)
        {
            bootbox.confirm({
						message: "Bạn có chắc muốn xóa dòng này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(UserName); }
                            else { }
						}
					  }
					);
        }


        function Delete(UserName)
    {
        var url = '@Url.Content("~/")' + "User/Delete";

            $.post(url, { ID: UserName }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#user-table').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Có lỗi xảy ra!");
                    }
                });
    }


    </script>

}