﻿
@{
    ViewData["Title"] = "Người dùng";
    ViewData["TitleActive"] = "Người dùng";
    ViewData["TitleCurrent"] = "Người dùng";
    ViewBag.Current = "User";
    ViewData["Menu2"] = "active open";
}
@model WebPOS.Dto.User
<div class="page-header">
    <h1>
        Thông tin người dùng
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã người dùng </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.UserName.ToString().Substring(9)</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên người dùng </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.FullName</label>
    </div> <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Email </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.AuthenticationEmail</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;" asp-value="date"> Ngày hết hạn </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.ExpiryDate.ToString(string.Format("dd/MM/yyyy"))</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Cửa hàng </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.StoreNo</label>
    </div>


</form>
<hr />
<div class="pull-right">
    <a class="btn btn-success btn-sm" href="/User/Edit/@ViewBag.posterminal.UserName.ToString().Substring(9)">
        <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
        Sửa thông tin
    </a>
    <a class="btn btn-danger btn-sm" href="/User">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
    </a>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        $('#id-disable-check').on('click', function () {
            var inp = $('#form-input-readonly').get(0);
            if (inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly', 'true');
                inp.removeAttribute('disabled');
                inp.value = "This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled', 'disabled');
                inp.removeAttribute('readonly');
                inp.value = "This text field is disabled!";
            }
        });


        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
        })
</script>
