﻿
@{
    ViewData["Title"] = "Phương thức thanh toán với cửa hàng";
    ViewData["TitleActive"] = "Phương thức thanh toán với cửa hàng";
    ViewData["TitleCurrent"] = "Phương thức thanh toán với cửa hàng";
    ViewBag.Current = "TenderTypeSetup";
    ViewData["Menu1"] = "active open";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Phương thức thanh toán với cửa hàng
                </h1>
            </div><!-- /.page-header -->
            <!-- PAGE CONTENT BEGINS -->
            @using (Html.BeginForm("AddTenderType", "TenderType", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="form-field-select-3" class="col-sm-4 control-label no-padding-right">Chọn mã cửa hàng/Kho hàng</label>
                        <div class="col-sm-6">
                            <select name="StoreNo" asp-items="@(new SelectList(@ViewBag.stores, "No", "Name"))" class="chosen-select form-control col-xs-10 col-sm-5" id="Store1" data-placeholder="Chọn cửa hàng..." style="display: none;"></select>
                        </div>
                    </div>

                </div>



                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                           
                            Gán cửa hàng vào tất cả phương thức
                        </button>

                    </div>
                </div>

            }
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="tendertypestore-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã cửa hàng</th>
                                    <th>Mã phương thức thanh toán</th>
                                    <th>Tên phương thức thanh toán</th>
                                    <th>Hoạt động</th>

                                </tr>
                            </thead>

                        </table>
                        <hr />

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>


        $(document).ready(function ()
        {
            if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
            $("#tendertypestore-table").DataTable({

                "language":
                    {
            "emptyTable":     "No data available in table",
            "info":           "Hiển thị từ _START_ đến _END_ của _TOTAL_ ",
            "infoEmpty":      "Hiển thị từ 0 đến 0 của 0 ",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Hiển thị _MENU_ phương thức thanh toán",
            "loadingRecords": "Đang tải...",
            "processing":     "Processing...",
            "search":         "Tìm kiếm:",
            "zeroRecords":    "No matching records found",
            "paginate": {
                "first":      "First",
                "last":       "Last",
                "next":       "Sau",
                "previous":   "Trước"
                    },
            },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/TenderType/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },
                    { "data": "Code", "name": "Code", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    {
                        data: "MayBeUsed", render: function (data, type, row) {
                            if (data == 0) {return "Không";}
                            else return "Có"; 
                            
                        }
                    },
                    


                ]


            });
        });


    

    </script>
}
