﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <!--
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        -->
    <title>@ViewData["Title"] - Vinmart</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/Assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/Assets/css/chosen.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/Assets/js/ace-extra.min.js"></script>
    @RenderSection("StyleSheet", required: false)
</head>
<body class="no-skin">
    <div id="loadingicon" class="loading-icon"><i class='fa fa-spinner fa-pulse fa-4x fa-fw'></i><span class='sr-only'>Loading...</span></div>
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/" class="navbar-brand">
                    <small>
                        POS Vinmart
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/images/avatar4.png" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Xin chào</small>
                                @User.Identity.Name
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a asp-action="Logout" asp-controller="Login">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Đăng xuất
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container'); } catch (e) { console.log(e); }
        </script>

        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar'); } catch (e) { console.log(e); }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">

                    <a class="btn btn-success" href="/">
                        <i class="ace-icon fa fa-signal"></i>
                    </a>

                    <a class="btn btn-info" href="/">
                        <i class="ace-icon fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-warning" href="/">
                        <i class="ace-icon fa fa-users"></i>
                    </a>
                    <a class="btn btn-danger" href="/">
                        <i class="ace-icon fa fa-cogs"></i>
                    </a>

                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->
            <div id="homeNav">
                <ul class="nav nav-list" data-widget="tree">

                    @if (User.Claims.Any())
                    {

                        @Html.Raw(User.Claims.Last().Value)

                    }


                </ul>
            </div>


        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="/">Quản lý</a>
                        </li>
                        <li class="active">@ViewData["TitleActive"]</li>
                    </ul>
                </div>
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Vinmart</span>
                        - POS Offline &copy; 2019
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <script src="~/Assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/Assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Assets/js/jquery.sparkline.index.min.js"></script>
    <script src="~/Assets/js/jquery.flot.min.js"></script>
    <script src="~/Assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/Assets/js/jquery.flot.resize.min.js"></script>
    <script src="~/Assets/js/chosen.jquery.min.js"></script>
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <script src="~/Assets/js/daterangepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Assets/js/jquery.knob.min.js"></script>
    <script src="~/Assets/js/autosize.min.js"></script>
    <script src="~/Assets/js/jquery.inputlimiter.min.js"></script>
    <script src="~/Assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/Assets/js/bootstrap-tag.min.js"></script>
    <script src="~/Assets/js/bootbox.js"></script>
    <script src="~/Assets/js/ace-elements.min.js"></script>
    <script src="~/Assets/js/ace.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var url = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
            $('[href$="' + url + '"]').parent().addClass("active");
            $('[href$="' + url + '"]').closest('li.sub-parent').addClass("open");
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
