﻿
@{
    ViewData["Title"] = "Báo cáo doanh thu";
    ViewData["TitleActive"] = "Báo cáo doanh thu";
    ViewData["TitleCurrent"] = "Báo cáo doanh thu";
    ViewBag.Current = "Sale";
    ViewData["Menu3"] = "active open";
}

<div class="row">
    <div class="col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-large">
                <h3 class="widget-title grey lighter">
                    <i class="ace-icon fa fa-leaf green"></i>
                    Thông tin giao dịch
                </h3>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Mã:</span>
                    <span class="red">@ViewBag.sale.OrderNo</span>

                    <br />
                    <span class="invoice-info-label">Ngày tạo:</span>
                    <span class="blue">@ViewBag.sale.OrderDate.ToString(string.Format("dd/MM/yyyy hh:mm tt"))</span>
                </div>

                <div class="widget-toolbar hidden-480">
                    <a href="#">
                        <i class="ace-icon fa fa-print"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-24">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b>Thông tin cửa hàng</b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled spaced">


                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Mã cửa hàng:
                                        <b class="red">@ViewBag.sale.StoreNo</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Pos terminal ID:
                                        <b class="red">@ViewBag.sale.POSTerminalNo</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        Nhân viên bán hàng
                                        <b class="red">@ViewBag.sale.CashierID</b>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.col -->

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b>Thông tin đơn hàng</b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled  spaced">


                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Tổng tiền bao gồm VAT:
                                        <b class="red">@ViewBag.sale.AmountInclVAT.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Giảm giá:
                                        <b class="red">@ViewBag.sale.DiscountAmount.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Tiền khách trả:
                                        <b class="red">@ViewBag.sale.PrepaymentAmount.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Tiền mặt:
                                        <b class="red">@ViewBag.sale.PaymentAtPOSAmount.ToString("N0")</b>
                                    </li>
                                    <li>
                                        <i class="ace-icon fa fa-caret-right green"></i>
                                        Trả lại:
                                        <b class="red">@ViewBag.sale.InChangeAmount.ToString("N0")</b>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="space"></div>

                    <div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="center">Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th class="hidden-xs">Số lượng</th>
                                    <th class="hidden-xs">Đơn giá</th>
                                    <th>Trước chiết khấu</th>
                                    <th class="hidden-480">Chiết khấu</th>
                                    <th class="hidden-480">Tổng tiền</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var product in ViewBag.products)
                                {
                                    <tr>
                                        <td>@product.ItemNo</td>
                                        <td>@product.Description</td>
                                        <td>@product.Quantity</td>
                                        <td>@product.UnitPrice.ToString("N0")</td>
                                        <td>@product.AmountBeforeDiscount.ToString("N0")</td>
                                        <td>@product.DiscountAmount.ToString("N0")</td>
                                        <td>@product.PrepaymentAmount.ToString("N0")</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="hr hr8 hr-double hr-dotted"></div>

                    <div class="row">
                        <div class="col-sm-5 pull-right">
                            <h4 class="pull-right">
                                Tổng thanh toán :
                                <span class="red">@ViewBag.sale.PrepaymentAmount.ToString("N0")</span>
                            </h4>
                        </div>

                    </div>

                    <div class="space-6"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE CONTENT ENDS -->
<div class="pull-right">
    <a class="btn btn-danger btn-sm" href="/Sale">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
    </a>
</div>

@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
}
