﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    
}
.light-login {
    background: url(/images/pattern.jpg);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.tab-pane .chosen-container{
    width:100% !important;
}
.sidebar{width:260px;}
    .sidebar + .main-content{
        margin-left:260px;
    }
    /* Carousel */
    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }
.user-info{width:150px;}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
div.dataTables_processing {
    position: absolute;
    top: 18%;
    left: 42%;
    width: 95%;
    height: 100px;
}
    /* QR code generator */
    #qrCode {
    margin: 15px;
}
body.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.5;
    background-color: #000000;
    z-index: 99;  
}
#loadingicon{
    display:none;
}
body.loading #loadingicon {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
    display: block;
}
.table .label {
    line-height: 1.35;
    height: 20px;
    border-radius: .25em;
}
.error {
    color:#f00;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
