﻿
@{
    ViewData["Title"] = "Cửa hàng & Kho hàng";
    ViewData["TitleActive"] = "Cửa hàng & Kho hàng";
    ViewData["TitleCurrent"] = "Cửa hàng & Kho hàng";
    ViewBag.Current = "Store";
    ViewData["Menu1"] = "active open";
}
@model WebPOS.Dto.Store
<div class="page-header">
    <h1>
        Chỉnh sửa thông tin Kho/Cửa hàng
    </h1>
</div>
<form method="post" asp-controller="Store" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã Kho hàng/Cửa hàng </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="No" readonly="readonly" value="@ViewBag.store.No">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên Kho hàng/Cửa hàng </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="Name" readonly="readonly" value="@ViewBag.store.Name">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Địa chỉ </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required name="Address" value="@ViewBag.store.Address">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Thành phố </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required name="City" value="@ViewBag.store.City">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã số thuế </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required name="TaxCode" value="@ViewBag.store.TaxCode">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Số điện thoại </label>

        <div class="col-sm-9">
            <input type="text" maxlength="10" id="form-field-1" class="col-xs-10 col-sm-5" required name="PhoneNo" value="@ViewBag.store.PhoneNo">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Hoạt động </label>

        <div class="col-sm-9">
            <label>
                <input id="ClosingMethod" @(ViewBag.store.ClosingMethod == 1 ? "checked" : "") class="ace ace-switch ace-switch-5" name="ClosingMethod" type="checkbox" value="@(ViewBag.store.ClosingMethod == 0 ? "false" : "true")">
                <span class="lbl"></span>
            </label>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/Store">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
            
            $("input[type=checkbox]").change(function () {
               if ($(this).prop("checked")) {
                   $(this).val(true);
                } else {
                    $(this).val(false);
                }
            });
            
             
            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
}