﻿
@{
    ViewData["Title"] = "Cửa hàng & Kho hàng";
    ViewData["TitleActive"] = "Cửa hàng & Kho hàng";
    ViewData["TitleCurrent"] = "Cửa hàng & Kho hàng";
    ViewBag.Current = "Store";
    ViewData["Menu1"] = "active open";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Thông tin cửa hàng & Kho hàng
                </h1>
            </div><!-- /.page-header -->
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    
                    <div>
                        <table id="store-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã Kho hàng/Cửa hàng</th>
                                    <th>Tên Kho hàng/Cửa hàng</th>
                                    <th>Địa chỉ</th>
                                    <th>Hoạt động</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>
        $(document).ready(function () {
            $("#store-table").DataTable({
                "language":
                {
                                           "processing":  "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

                },

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "Store/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    {
                        data: "No", render: function (data, type, row) {
                            return "<a href='/Store/ViewDetail/" + row.No + "'>" + row.No + "</a>";
                            
                        }
                    },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Address", "name": "Address", "autoWidth": true },
                    
                    {
                        data: "ClosingMethod", render: function (data, type, row) {
                            if (data == 0) {return "<span class='label'>Không</span>";}
                            else return "<span class='label label-primary'>Có</span>"; 
                            
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-danger' title='Đẩy MasterData' href='/Store/ViewDetail/" + row.No + "'><i class='ace-icon fa fa-cloud-upload bigger-120'></i></a><a class='btn btn-xs btn-info' title='Sửa thông tin cửa hàng' href='/Store/Edit/" + row.No + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a></div>";
                        }
                    },


                ]

            });
        });





    </script>
}

