﻿
@{
    ViewData["Title"] = "Kho/Cửa hàng";
    ViewData["TitleActive"] = "Kho/Cửa hàng";
    ViewData["TitleCurrent"] = "Kho/Cửa hàng";
    ViewBag.Current = "Store";
    ViewData["Menu1"] = "active open";
}
@model WebPOS.Dto.Store
<div class="page-header">
    <h1>
        Thông tin Kho/Cửa hàng
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Cửa hàng </label>
        <div class="col-md-8">
            <input type="text" id="StoreNo" class="col-xs-10 col-md-4" name="StoreNo" readonly="readonly" value="@ViewBag.posterminal.No">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên Kho hàng/Cửa hàng </label>

        <label class="col-md-8 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Name</label>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Địa chỉ </label>

        <label class="col-md-8 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Address</label>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Số điện thoại </label>

        <label class="col-md-8 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.PhoneNo</label>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> ID thuế </label>

        <label class="col-md-8 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.TaxCode</label>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Hoạt động </label>

        <label class="col-md-8 no-padding-right" style="padding-top:7px;">
            @(ViewBag.posterminal.ClosingMethod == 0 ? "Không" : "Có")

        </label>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <div class="col-md-4 no-padding-right" style="padding-top:5px;">
            <select name="Type" class="chosen-select form-control col-xs-10 col-sm-5" id="Type" data-placeholder="Chọn type value..." style="display: none;">
                <option value="10">Item Master</option>
                <option value="11">Barcodes Master</option>
                <option value="12">ItemUom Master</option>
                <option value="13">SalesPrice Master</option>
                <option value="14">Promotion Master</option>
                <option value="15">Coupon Master</option>
                <option value="16">POS Config Master</option>
            </select>
        </div>
        <div class="col-md-4 no-padding-right">
            <button class="btn btn-primary btn-sm" type="button" onclick="Done()">
                <i class="ace-icon fa fa-cloud-upload bigger-120"></i>
                Đẩy dữ liệu
            </button>
        </div>

    </div>

</form>
<hr />
<div class="clearfix form-actions">
    <div class="pull-right">
        <a class="btn btn-success btn-sm" href="/Store/Edit/@ViewBag.posterminal.No">
            <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
            Sửa thông tin
        </a>
        <a class="btn btn-danger btn-sm" href="/Store">
            <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
        </a>
    </div>
</div>


@section scripts {
    
    <script type="text/javascript">
    function Done() {
            $body = $("body");
            $(document).on({
                ajaxStart: function () { $body.addClass("loading"); },
                ajaxStop: function () { }
            });
            $.ajax({

                type: "POST",
                url: "/Store/PushMasterData",
                
                data: {
                            StoreNo: $("#StoreNo").val(),
                            Type: $("#Type").val()
                        },

            success: function (result) {
                $body.removeClass("loading");
                
                if (result.success) {

                   // alert(result.responseText);
                     bootbox.dialog({
						message: "<div class='text-success bigger-110 btn btn-link'><i class='ace-icon fa fa-check bigger-110 padding-5'></i><span>Đẩy dữ liệu thành công!</span></div>",
						buttons:
						{
							"click" :
							{
								"label" : "OK",
								"className" : "btn-sm btn-primary",
								"callback": function() {
									
								}
							}
							
						}
					});

                   // location.reload();

                }

                else {

                     bootbox.dialog({
						message: "<div class='text-warning bigger-110 btn btn-link'><i class='ace-icon fa fa-exclamation-triangle orange'></i><span class='orange'>Đẩy dữ liệu thất bại!</span></div>",
						buttons:
						{
							"click" :
							{
								"label" : "OK",
								"className" : "btn-sm btn-primary",
								"callback": function() {
									
								}
							}
							
						}
					});
                }

            },

            error: function (result) {

                bootbox.dialog({
						message: "<div class='text-danger bigger-110 btn btn-link'><i class='ace-icon fa fa-times bigger-110 red'></i><span class='red'>Có lỗi xảy ra!</span></div>",
						buttons:
						{
							"click" :
							{
								"label" : "OK",
								"className" : "btn-sm btn-primary",
								"callback": function() {
									
								}
							}
							
						}
					});

                },

            });



        }

        jQuery(function ($) {
            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
}