﻿
@{
    ViewData["Title"] = "Kiểm tra giá Scan&Go";
    ViewData["TitleActive"] = "Kiểm tra giá Scan&Go";
    ViewData["TitleCurrent"] = "Kiểm tra giá Scan&Go";
    ViewBag.Current = "Item";
    ViewData["Menu4"] = "active open";



}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            
            <!-- PAGE CONTENT BEGINS -->
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            <i class="green ace-icon fa fa-home bigger-120"></i>
                            Kiểm tra giá Scan&Go
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#messages">
                            Kiểm tra đơn hàng Scan&Go
                            
                        </a>
                    </li>

                   
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="clearfix form-actions">
                           <form class="form-horizontal">
                                <div class="clearfix">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="col-sm-4 col-md-4 control-label no-padding-right" for="form-field-1-1"> Ngày/tháng </label>
                                        <div class="col-sm-7 col-md-7">
                                            <div class="input-group">
                                                <input class="form-control date-picker" value="@ViewBag.date" required id="date" type="text" data-date-format="dd-mm-yyyy" name="date" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="col-sm-4 col-md-4 control-label no-padding-right" for="form-field-1"> Cửa hàng/Kho </label>
                                        <div class="col-sm-7 col-md-7">
                                            <select name="storeCode" tabindex="1" asp-items="@ViewBag.StoreNo" class="chosen-select form-control" id="storeCode" data-placeholder="Chọn menu cha..." style="display: none;"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="col-sm-4 col-md-4 control-label no-padding-right" for="form-field-1-1"> Barcode</label>
                                        <div class="col-sm-7 col-md-7">
                                            <input type="text" id="barcode" value="@ViewBag.barcode" required placeholder="Nhập Barcode" class="form-control" name="barcode" />
                                        </div>

                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="col-sm-4 col-md-4 control-label no-padding-right" for="form-field-1-1"> Số lượng</label>
                                        <div class="col-sm-7 col-md-7">
                                            <input type="text" id="quantity" required placeholder="Số lượng" class="form-control" name="quantity" value="@ViewBag.quantity" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-11 col-md-11">
                                    <button class="btn btn-info pull-right" type="button" onclick="CheckPriceScanGo()" id="btnSearch">
                                        <i class="ace-icon fa fa-search bigger-110"></i>
                                        Tìm kiếm
                                    </button>


                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="hidden" id="render-content">
                                    <pre id="json-renderer"></pre>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div id="messages" class="tab-pane fade">
                        <div class="clearfix form-actions">
                            <form class="form-horizontal">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="col-sm-4 col-md-4 control-label no-padding-right" for="form-field-1-1"> Barcode</label>
                                        <div class="col-sm-7 col-md-7">
                                            <input type="text" id="barcode2" value="@ViewBag.barcode" required placeholder="Nhập Barcode" class="form-control" name="barcode2" />
                                        </div>

                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <button class="btn btn-info pull-right" type="button" onclick="CheckOrderScanGo()" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-110"></i>
                                            Tìm kiếm
                                        </button>


                                    </div>
                                
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="hidden" id="render-content2">
                                    <pre id="json-renderer2"></pre>
                                </div>



                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            
            

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->


@section scripts {
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/js/buttons.flash.min.js"></script>
    <script src="~/Assets/js/buttons.html5.min.js"></script>
    <script src="~/Assets/js/buttons.print.min.js"></script>
    <script src="~/Assets/js/buttons.colVis.min.js"></script>
    <script src="~/Assets/js/dataTables.select.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <script src="~/Assets/js/daterangepicker.min.js"></script>
    <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/json-viewer/jquery.json-viewer.js"></script>
    <link href="~/Assets/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
    function CheckPriceScanGo() {
       
        $.ajax({

            type: "POST",
            url: "/SalePrice/CheckPriceScanGo",

            data: {
                date: $("#date").val(),
                storeCode: $("#storeCode").val(),
                barcode: $("#barcode").val(),
                quantity: $("#quantity").val()
            },

            success: function (result) {
               
                //alert(result.responseText);
                var data = JSON.parse(result.responseText);
               $('#render-content').removeClass("hidden");
                $('#json-renderer').jsonViewer(data, {collapsed: false, withQuotes: true, withLinks: false});
            },

            error: function (result) {
                
                bootbox.dialog({
						message: "<span class='bigger-110'>Vui lòng nhập thông tin tìm kiếm!</span>",
						buttons:
						{
							"click" :
							{
								"label" : "OK",
								"className" : "btn-sm btn-primary",
								"callback": function() {
									
								}
							}
							
						}
					});

                },


        });
    }
    function CheckOrderScanGo() {
        
        $.ajax({

            type: "POST",
            url: "/SalePrice/CheckOrderScanGo",

            data: {             
                barcode2: $("#barcode2").val()
            },

            success: function (result) {
                
                //alert(result.responseText);
                var data = JSON.parse(result.responseText);
               $('#render-content2').removeClass("hidden");
                $('#json-renderer2').jsonViewer(data, {collapsed: false, withQuotes: true, withLinks: false});
            },

            error: function (result) {

                alert('Error: ');

                },


        });
    }
        jQuery(function ($) {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });

            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>


}
