﻿
@{
    ViewData["Title"] = "POS Terminal";
    ViewData["TitleActive"] = "POS Terminal";
    ViewData["TitleCurrent"] = "ID Máy POS";

    ViewBag.Current = "POSTerminal";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.POSTerminal
<div class="page-header">
    <h1>
        Chỉnh sửa thông tin POSID
    </h1>
</div>
<form method="post" asp-controller="POSTerminal" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã cửa hàng </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" asp-for="StoreNo" readonly="readonly" value="@ViewBag.posterminal.StoreNo">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Số POS </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" asp-for="No" readonly="readonly" value="@ViewBag.posterminal.No">

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Terminal ID </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="TerminalNetworkID" value="@ViewBag.posterminal.TerminalNetworkID">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Access Token Key </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Description" value="@ViewBag.posterminal.Description">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Style Profile </label>

        <div class="col-sm-4">
            <select name="StyleProfile" asp-for="StyleProfile" class="chosen-select form-control col-xs-10 col-sm-5" id="StyleProfile" data-placeholder="Chọn Style Profile..." style="display: none;">
                @if(ViewBag.posterminal.StyleProfile == "SNG"){
                <option value="SNG">Chỉ sử dụng SCan&Go</option>
                <option value="">Scan&Go - Bán hàng Offline</option>
                }
                else{
                <option value="">Scan&Go - Bán hàng Offline</option>
                <option value="SNG">Chỉ sử dụng SCan&Go</option>

                }
            </select>

        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/POSTerminal">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">

     
    jQuery(function ($) {
        $('#id-disable-check').on('click', function () {
            var inp = $('#form-input-readonly').get(0);
            if (inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly', 'true');
                inp.removeAttribute('disabled');
                inp.value = "This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled', 'disabled');
                inp.removeAttribute('readonly');
                inp.value = "This text field is disabled!";
            }
        });


        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
        })
    </script>

}
