﻿
@{
    ViewData["Title"] = "ID Máy POS";
    ViewData["TitleActive"] = "ID Máy POS";
    ViewData["TitleCurrent"] = "ID Máy POS";

    ViewData["Menu1"] = "active open";
    ViewBag.Current = "ID Máy POS";

}
@model WebPOS.Dto.POSTerminal
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            @if (ViewBag.Message != null)
            {
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>@ViewBag.Message</strong>
                <br>
            </div>
                
            }
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Danh sách máy POS
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Thêm mới máy POS

                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="pos-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Số POS</th>
                                                <th>Mã Cửa hàng</th>
                                                <th>Terminal ID</th>
                                                <th>Access Token Key</th>
                                                <th>Style Profile</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>

                            <div id="messages" class="tab-pane fade">
                                <form method="post" asp-controller="POSTerminal" asp-action="Add" class="form-horizontal" id="POSTerminal">

                                    <div class="form-group">
                                        <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">Mã cửa hàng</label>
                                        <div class="col-sm-4">
                                            <select name="StoreNo" asp-items="@ViewBag.StoreNo" class="chosen-select form-control col-xs-10 col-sm-5" id="StoreNo" data-placeholder="Chọn menu cha..." style="display: none;"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Số POS </label>

                                        <div class="col-sm-9">
                                            <input type="number" maxlength="2" max="99" min="0" oninput="maxLengthCheck(this)" onclick="checknumber(this)" onchange="checknumber(this)" id="No" required class="col-xs-10 col-sm-5 limited" asp-for="No">
                                            <span class="help-inline col-xs-12 col-sm-7">
                                                <span class="middle green">Nhập 2 số từ 00 đến 99</span>
                                            </span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Terminal ID </label>

                                        <div class="col-sm-9">

                                            <input type="text" id="form-field-1" required class="col-xs-10 col-sm-5 " asp-for="TerminalNetworkID">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Access Token Key </label>

                                        <div class="col-sm-9">
                                            <input type="text" id="form-field-1" required class="col-xs-10 col-sm-5" asp-for="Description">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Style Profile </label>

                                        <div class="col-sm-4">
                                            <select name="StyleProfile" asp-for="StyleProfile" class="chosen-select form-control col-xs-10 col-sm-5" id="StyleProfile" data-placeholder="Chọn Style Profile..." style="display: none;">
                                                <option value="">Scan&Go - Bán hàng Offline</option>
                                                <option value="SNG">Chỉ sử dụng SCan&Go</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Lưu và tạo mới
                                            </button>
                                            <button class="btn" type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Thiết lập lại
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->

    

@section scripts {
    <script>
    
                function checknumber(input) {
                    if(!isNaN(input.value) && input.value.length === 1) {
                        input.value = '0' + input.value;
                    }
                }
                function maxLengthCheck(object)
                {
                    if (object.value.length > object.maxLength)
                        object.value = object.value.slice(0, object.maxLength)
          }

        $(document).ready(function ()
        {

            $("#pos-table").DataTable({
                        "language":
                    {
                            "processing":  "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span> "

            },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                            "url": "POSTerminal/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [

                    {
                        data: "No", render: function (data, type, row) {
                            return "<a href='/POSTerminal/ViewDetail/" + row.No + "'>" + row.No + "</a>";

                        }
    },
                    { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },
                    { "data": "TerminalNetworkID", "name": "TerminalNetworkID", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                   
                    {
                        data: "StyleProfile", render: function (data, type, row) {
                            if (data == "SNG") {return "<span>Chỉ sử dụng Scan&Go</span>";}
                            else return "<span'>Scan&Go-Bán hàng Offline</span>"; 
                            
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
        return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/POSTerminal/Edit/" + row.No + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.No + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
    }
                    },
                ]


            });
             if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
            var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
        })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
        if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
            var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
        })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
        var target = $(this).find('input[type=radio]');
        var which = parseInt(target.val());
        if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
    });
        }
        });


    function DeleteData(No)
    {
        bootbox.confirm({
						message: "Bạn có chắc muốn xóa ID POS này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(No); }
                            else { }
						}
					  }
					);
    }


    function Delete(No)
    {
        var url = '@Url.Content("~/")' + "POSTerminal/Delete";

            $.post(url, { ID: No }, function (data)
                {
            if (data)
            {
                oTable = $('#pos-table').DataTable();
                oTable.draw();
            }
            else
            {
                alert("Có lỗi xảy ra!");
            }
        });
    }

</script>
}

