﻿
@{
    ViewData["Title"] = "POS Terminal";
    ViewData["TitleActive"] = "POS Terminal";
    ViewData["TitleCurrent"] = "ID Máy POS";

    ViewBag.Current = "POSTerminal";
    ViewData["Menu1"] = "active open";

}
@model WebPOS.Dto.POSTerminal
<div class="page-header">
    <h1>
        Thông tin POSID
    </h1>
</div>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Mã cửa hàng </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.StoreNo</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Số POS </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.No</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Terminal ID </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.TerminalNetworkID</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Access Token Key </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">@ViewBag.posterminal.Description</label>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Style Profile </label>

        <label class="col-md-9 no-padding-right" style="padding-top:7px;">
            @if(ViewBag.posterminal.StyleProfile == "SNG"){<span>Chỉ sử dụng Scan&Go</span>}
            else{<span>Scan&Go - Bán hàng Offline</span>}
        </label>
    </div>

</form>
<hr />
<div class="pull-right">
    <a class="btn btn-success btn-sm" href="/POSTerminal/Edit/@ViewBag.posterminal.No">
        <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
        Sửa thông tin
    </a>
    <a class="btn btn-danger btn-sm" href="/POSTerminal">
        <i class="ace-icon fa fa-reply align-top bigger-120"></i>Trở về danh sách
    </a>
</div>
