﻿
@{
    ViewData["Title"] = "Gán quyền người dùng";
    ViewData["TitleActive"] = "Gán quyền người dùng";
    ViewData["TitleCurrent"] = "Gán quyền người dùng";
    
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                           

                            <li class="active">
                                <a data-toggle="tab" href="#messages">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Gán quyền người dùng

                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#last">
                                    Danh sách tài khoản truy cập
                                    
                                </a>
                            </li>

                        </ul>

                        <div class="tab-content">
                           

                            <div id="messages" class="tab-pane fade in active">
                                <div class="widget-box clearfix">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="widget-title">Gán quyền truy cập tài khoản AD</h4>
                                    </div>
                                    <div class="widget-body" style="padding-top:20px;">
                                        <form method="post" asp-controller="UserRole" asp-action="AddUserRole" class="form-horizontal">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label no-padding-top" for="duallist" style="font-weight:bold;"> Chọn người dùng </label>

                                                <div class="col-md-9">
                                                    <select multiple="multiple" asp-items="@ViewBag.Users" size="10" name="duallistbox_demo1[]" id="duallist"></select>

                                                    <div class="hr hr-16 hr-dotted"></div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="col-sm-2 col-md-2 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Quyền truy cập </label>

                                                <div class="col-sm-4 col-md-4">
                                                    <select name="RoleID" asp-items="@ViewBag.Roles" class="chosen-select form-control col-xs-10 col-sm-5" id="RoleID" data-placeholder="Chọn menu cha..." style="display: none;"></select>

                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-info" type="submit">
                                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                                        Lưu và tạo mới
                                                    </button>
                                                    <button class="btn" type="reset">
                                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                                        Thiết lập lại
                                                    </button>

                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="space-10"></div>
                                <div class="widget-box clearfix">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="widget-title">Gán quyền truy cập tài khoản nhân viên</h4>
                                    </div>
                                    <div class="widget-body" style="padding-top:20px;">
                                        <form method="post" asp-controller="UserRole" asp-action="AddStaffRole" class="form-horizontal">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label no-padding-top" for="duallist" style="font-weight:bold;"> Chọn người dùng </label>

                                                <div class="col-md-9">
                                                    <select multiple="multiple" asp-items="@ViewBag.Staffs" size="10" name="duallistbox_demo2[]" id="duallist"></select>

                                                    <div class="hr hr-16 hr-dotted"></div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="col-sm-2 col-md-2 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Quyền truy cập </label>

                                                <div class="col-sm-4 col-md-4">
                                                    <select name="RoleID" asp-items="@ViewBag.Roles" class="chosen-select form-control col-xs-10 col-sm-5" id="RoleID" data-placeholder="Chọn menu cha..." style="display: none;"></select>

                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-info" type="submit">
                                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                                        Lưu và tạo mới
                                                    </button>
                                                    <button class="btn" type="reset">
                                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                                        Thiết lập lại
                                                    </button>

                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>


                            </div>

                            <div id="last" class="tab-pane fade ">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="userrole-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Mã người dùng</th>
                                                <th>Mã phân quyền</th>
                                                <th>Trạng thái hoạt động</th>

                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- PAGE CONTENT ENDS -->

            </div><!-- /.page-content -->
        </div>
        </div>
    </div><!-- /.main-content -->
    @section scripts {
        <!-- page specific plugin scripts -->
        <script src="~/Assets/js/jquery.bootstrap-duallistbox.min.js"></script>
        
        
        <script>
        jQuery(function ($) {

            var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>' });
            var container1 = demo1.bootstrapDualListbox('getContainer');
            var demo2 = $('select[name="duallistbox_demo2[]"]').bootstrapDualListbox({ infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>' });
            var container2 = demo2.bootstrapDualListbox('getContainer');
            container1.find('.btn').addClass('btn-white btn-info btn-bold');
            container2.find('.btn').addClass('btn-white btn-info btn-bold');
            //in ajax mode, remove remaining elements before leaving page
            $(document).one('ajaxloadstart.page', function (e) {

                $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
                $('select[name="duallistbox_demo2[]"]').bootstrapDualListbox('destroy');
            });
        });
        $(document).ready(function ()
        {
            if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
           
            $("#userrole-table").DataTable({

                "destroy":true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/UserRole/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [

                    { "data": "UserID", "name": "UserID", "autoWidth": true },
                    { "data": "RoleID", "name": "RoleID", "autoWidth": true },

                    { "data": "Status", "name": "Status", "autoWidth": true },



                ]

            });
        });

     


        </script>

    }
