﻿
@{
    ViewData["Title"] = "Máy thanh toán ngân hàng";
    ViewData["TitleActive"] = "Máy thanh toán ngân hàng";
    ViewData["TitleCurrent"] = "Máy thanh toán ngân hàng";
}
@model WebPOS.Dto.POSTerminalBank
<div class="page-header">
    <h1>
        Import CSV
    </h1>
</div>
<form method="post" enctype="multipart/form-data" class="form-horizontal">

    <input type="file" name="postedFile" />
    <input type="submit" value="Import" />

</form>
@section scripts {
    <script type="text/javascript">
   
    </script>

}
