﻿
@{
    ViewData["Title"] = "Máy thanh toán ngân hàng";
    ViewData["TitleActive"] = "Máy thanh toán ngân hàng";
    ViewData["TitleCurrent"] = "Máy thanh toán ngân hàng";
    ViewBag.Current = "TenderTypeSetup";
    ViewData["Menu1"] = "active open";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    Tìm kiếm máy thanh toán ngân hàng
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#messages">
                                    <i class="ace-icon glyphicon glyphicon-plus green bigger-110"></i>
                                    Thêm mới máy thanh toán ngân hàng

                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#last">
                                    <i class="green ace-icon fa fa-download bigger-110"></i>
                                    CSV Import

                                </a>
                            </li>

                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <div>
                                    <table id="posterminalBank-table" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>TenderTypeCode</th>
                                                <th>BankPOS</th>
                                                <th>Description</th>
                                                <th>BankCode</th>
                                                <th>StoreNo</th>
                                                <th>POSTerminal</th>
                                                <th>StoreNumber</th>
                                                <th>POSNumber</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>

                                    </table>
                                    <hr />

                                </div>
                            </div>

                            <div id="messages" class="tab-pane fade">

                                <div class="clearfix">
                                    <form method="post" asp-controller="POSTerminalBank" asp-action="Add" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> TenderTypeCode </label>

                                            <div class="col-sm-5">
                                                <select name="TenderTypeCode" asp-items="@ViewBag.TenderTypeCode" class="chosen-select form-control" id="TenderTypeCode" data-placeholder="Chọn menu cha..." style="display: none;"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> BankPOS </label>

                                            <div class="col-sm-9">
                                                <input type="text" id="BankPOS" required class="col-xs-10 col-sm-5" name="BankPOS">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Description </label>

                                            <div class="col-sm-9">
                                                <input type="text" id="Description" required class="col-xs-10 col-sm-5" name="Description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">BankCode</label>
                                            <div class="col-sm-5">
                                                <select name="BankCode" asp-items="@ViewBag.BankCode" class="chosen-select form-control" id="form-field-select-3" data-placeholder="Chọn cửa hàng..." style="display: none;"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Cửa hàng/Kho </label>

                                            <div class="col-sm-5">
                                                <select class="chosen-select form-control" asp-items="@ViewBag.StoreNo" id="StoreNo" name="StoreNo">
                                                    <option>Chọn cửa hàng</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> POS Terminal </label>

                                            <div class="col-sm-5">

                                                <select id="Posterminal" name="POSTerminal"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> POS Number </label>

                                            <div class="col-sm-9">
                                                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="POSNumber">
                                            </div>
                                        </div>

                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn btn-info" type="submit">
                                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                                    Lưu và tạo mới
                                                </button>
                                                <button class="btn" type="reset">
                                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                                    Thiết lập lại
                                                </button>
                                               
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                
                            </div>
                            <div id="last" class="tab-pane fade">
                                <div class="widget-box">
                                  

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="clearfix">
                                                <h4 class="help-block red">Upload new CSV data</h4>
                                                <form method="post" enctype="multipart/form-data" asp-controller="POSTerminalBank" asp-action="ImportCSV">
                                                    <div class="col-md-4">
                                                        <input type="file" name="postedFile" id="postedFile" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input class="btn btn-danger btn-sm" type="submit" value="Import Data" />
                                                    </div>
                                                    <div class="help-block clearfix col-sm-12">Vui lòng chỉ upload file với định dạng .txt và .csv(Comma Delimited)</div>

                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
@section scripts {
    <script>


        $(document).ready(function ()
        {
             var items = "<option value='0'>Chọn POSTerminal</option>";
            $("#Posterminal").html(items);
        //});

        //Bind City dropdownlist

            if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
                .off('resize.chosen')
                .on('resize.chosen', function () {
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });
            $('#postedFile').ace_file_input({
					no_file:'*.txt, *.csv',
					btn_choose:'Browse',
					btn_change:'Change',
					droppable:false,
					onchange:null,
					thumbnail:false, //| true | large
					whitelist:'txt',
					blacklist:'png|csv'
					//onchange:''
					//
				});

            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
            $("#posterminalBank-table").DataTable({


                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "POSTerminalBank/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "TenderTypeCode", "name": "TenderTypeCode", "autoWidth": true },
                   { "data": "BankPOS", "name": "BankPOS", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "BankCode", "name": "BankCode", "autoWidth": true },
                    { "data": "StoreNo", "name": "StoreNo", "autoWidth": true },
                    { "data": "POSTerminal", "name": "POSTerminal", "autoWidth": true },
                    { "data": "StoreNumber", "name": "StoreNumber", "autoWidth": true },
                    { "data": "POSNumber", "name": "POSNumber", "autoWidth": true },
                    {
                        data: null, render: function (data, type, row) {
                            return "<div class='btn-group'><a class='btn btn-xs btn-info' href='/POSTerminalBank/Edit/?bankpos=" + row.BankPOS + "&tendertypecode=" + row.TenderTypeCode + "&posterminal=" + row.POSTerminal + "'><i class='ace-icon fa fa-pencil-square-o bigger-120'></i></a><a href='#' class='btn btn-xs btn-danger' onclick=DeleteData('" + row.BankPOS + "," + row.TenderTypeCode + "," + row.POSTerminal + "'); ><i class='ace-icon fa fa-trash-o bigger-120'></i></a></div>";
                        }
                    },


                ]


            });

        });

    $("#StoreNo").change(function () {
            var storeno = $("#StoreNo").val();
            var url = "/POSTerminalBank/GetPOSTerminalList";

            $.getJSON(url, { StoreNo: storeno }, function (data) {
                var item = " ";
                $("#Posterminal").empty();
                $.each(data, function (i, No) {
                    item += '<option value="' + No.Value + '">' + No.Text + '</option>'
                });
                $("#Posterminal").html(item);
            });
        });
    function DeleteData(BankPOS)
        {
            bootbox.confirm({
						message: "Bạn có chắc muốn xóa dòng này ...?",
						buttons: {
						  confirm: {
							 label: "Xác nhận",
							 className: "btn-primary btn-sm",
						  },
						  cancel: {
							 label: "Hủy",
							 className: "btn-sm",
						  }
						},
						callback: function(result) {
                            if (result) { Delete(BankPOS); }
                            else { }
						}
					  }
					);
        }


        function Delete(BankPOS)
    {
             var url = '@Url.Content("~/")' + "POSTerminalBank/Delete";

            $.post(url, { BankPOS: BankPOS }, function (data)
                {
            if (data)
            {
                oTable = $('#posterminalBank-table').DataTable();
                oTable.draw();
            }
            else
            {
                alert("Có lỗi xảy ra!");
            }
        });

           
    }

    </script>
}
