﻿@{
    ViewData["Title"] = "Menu hệ thống";
    ViewData["TitleActive"] = "Menu hệ thống";
    ViewData["TitleCurrent"] = "Menu hệ thống";
    
}
@model WebPOS.Dto.Function
<div class="page-header">
    <h1>
        Sửa Menu hệ thống
    </h1>
</div>
<form method="post" asp-controller="Function" asp-action="Edit" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;">ID </label>

        <div class="col-sm-9">
            <input type="text" id="UserName" class="col-xs-10 col-sm-5" asp-for="Id" value="@ViewBag.function.Id" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Tên menu </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Name" value="@ViewBag.function.Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Url </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="Url" value="@ViewBag.function.Url">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Css Cass </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5"  asp-for="CssClass" value="@ViewBag.function.CssClass">
        </div>
    </div>
    <div class="form-group"> 
        <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">Menu cha</label>
        <div class="col-sm-4">
            
            <select asp-for="ParentId" asp-items="@ViewBag.stores" class="chosen-select form-control col-xs-10 col-sm-5" id="form-field-select-3" data-placeholder="Chọn menu cha..." style="display: none;">
                <option value="0">Chọn menu cha</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-weight:bold;"> Thứ tự hiển thị </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" required asp-for="SortOrder" value="@ViewBag.function.SortOrder">
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Lưu
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Thiết lập lại
            </button>
            <a class="btn btn-danger" href="/Function">
                <i class="ace-icon fa fa-reply align-top bigger-125"></i>Trở về danh sách
            </a>
        </div>
    </div>

</form>
@section scripts {
    <script type="text/javascript">

        jQuery(function ($) {
            $('#id-disable-check').on('click', function () {
                var inp = $('#form-input-readonly').get(0);
                if (inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly', 'true');
                    inp.removeAttribute('disabled');
                    inp.value = "This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled', 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value = "This text field is disabled!";
                }
            });


            if (!ace.vars['touch']) {
                $('.chosen-select').chosen({ allow_single_deselect: true });
                //resize the chosen on window resize

                $(window)
                    .off('resize.chosen')
                    .on('resize.chosen', function () {
                        $('.chosen-select').each(function () {
                            var $this = $(this);
                            $this.next().css({ 'width': $this.parent().width() });
                        })
                    }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                    if (event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function () {
                        var $this = $(this);
                        $this.next().css({ 'width': $this.parent().width() });
                    })
                });


                $('#chosen-multiple-style .btn').on('click', function (e) {
                    var target = $(this).find('input[type=radio]');
                    var which = parseInt(target.val());
                    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                    else $('#form-field-select-4').removeClass('tag-input-style');
                });
            }
        })
    </script>
}

